@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html{
    background-color: lightgray;
}
header{
    background-color: grey;
    padding-top: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 20px;
}
i#burguer{
    background-color: dimgray;
    color: #fff;
    display: block;
    padding: 10px;
}
i#burguer:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
nav{
    display: none;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    background-color: dimgray;
    border-bottom: 3px solid dimgray;  
    border-radius: 5px 5px 5px 5px;
}
nav a:hover{
    border-bottom: 3px solid #252525ab;
}
ul{
    list-style-type: none;
    
}
main{
    background-color: #fff;
    width: 80vw;
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}
main p {
    text-indent: 20px;
    margin-bottom: 15px;
}
main h2{
    padding: 10px;
}